<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="GDBConnection" connectionString="Server=.\SQLEXPRESS;Database=GDBDatabase;Trusted_Connection=True;TrustServerCertificate=True;" providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProviderFactory" value="Microsoft.Data.SqlClient.SqlClientFactory, Microsoft.Data.SqlClient" />
  </appSettings>
</configuration>
